@import './base/variables';
@import './base/fonts';

.about-bgrnd {
    position: relative;
    min-height: 100vh;
    display: table;
    background-color: $secondary-color;
    text-align: center;
}

.about-outer {
    display: table-cell;
    vertical-align: middle;
    height: 80vh;
    padding: 0px;
}

.about-page {
    color: $off-white;
    font-family: 'Lato';
    padding: 0px;
}

.left-image {
    max-width:100%;
}

.left-block {
    visibility: hidden;
    max-height: 0px;
    vertical-align: middle;
    width: 100%;
}

.right-block {
    display: table-cell;
    vertical-align: middle;
}

.hwm-block {
    padding: 10px;
}

.hwm-header {
    font-size: 5vh;
    width: 20%;
    vertical-align: middle;
    text-align: left;
    font-family: Hello-Paris;
}

.about-ln-brk {
    max-width: 40vw;
    border-top: 3px solid $dark-grey;
}

@media only screen and (orientation: landscape) {
    .about-page {
      display: flex;
      margin: auto;
      padding: 0;
    }
    .left-block {   
        visibility: visible;
        max-height: 100%;
        max-width: 100%;
        flex-basis: 50vw;
        padding-right: 3vw;
    }
    .right-block {
        padding-left: 3vw;
    }
}