@import './base/variables';
@import './base/fonts';

.about-bgrnd {
    position: relative;
    min-height: 100vh;
    display: table;
    background-color: $secondary-color;
    text-align: center;
}

.about-outer {
    display: table-cell;
    vertical-align: middle;
    height: 80vh;
}

.about-page {
    color: $off-white;
    font-family: 'Lato';
}

.left-image {
    max-height: 70vh;
    max-width: 33vw;
}

.left-block {
    visibility: hidden;
    max-height: 0px;
    vertical-align: middle;
    width: 100%;
}

.right-block {
    display: table-cell;
    vertical-align: middle;
    padding: 30px;
}

.hwm-block {
    padding: 10px;
}

.hwm-header {
    font-size: 5vh;
    width: 20%;
    vertical-align: middle;
    text-align: left;
    font-family: Hello-Paris;
}

.ln-brk {
    width: 60vw;
    border-top: 3px solid $dark-grey;
}

@media only screen and (orientation: landscape) {
    .about-page {
      display: flex;
    }
    .left-block {
        visibility: visible;
        max-height: 100%;
        width: 33vw;
    }
    .right-block {
        width: 67vw;
        padding-right: 10vw;
    }
}