@import './base/variables';

.accomodations-bgrnd {
    position: relative;
    min-height: 100vh;
    display: table;
    background-color: $off-white;
    text-align: center;
}

.accomodations-page {
    display: table-cell;
    vertical-align: middle;
    font-family: 'Abhaya';
}

.accomodations-msg {
    vertical-align: middle;
    padding-top: 10vw;
    padding-bottom: 10vw;
    color: $dark-grey;
}

.accomodations-txt {
    font-size: 2.5vh;
    padding-bottom: 5vh;
}

.accomodations-spacing {
    height: 5vh;
}

.acm-header {
    font-size: 4vh;
    text-decoration: underline;
}
