@import './base/variables';

.accomodations-bgrnd {
    position: relative;
    min-height: 100vh;
    display: table;
    background-color: $off-white;
    text-align: center;
}

.accomodations-page {
    display: table-cell;
    vertical-align: middle;
    font-family: 'Abhaya';
}

.accomodations-msg {
    vertical-align: middle;
    padding-top: 5vw;
    padding-bottom: 5vw;
    color: $dark-grey;
}

.accomodations-txt {
    font-size: 2vh;
    padding-bottom: 3vh;
}

.reserved-txt {
    font-size: 2vh;
    padding-bottom: 5vh;
    display: grid;
}

.accomodations-spacing {
    height: 1vh;
}

.acm-header {
    font-size: 2.5vh;
}

.oacm-header {
    font-size: 2.5vh;
}

.oacm-txt {
    font-size: 1.5vh;
}

.inquire-header {
    font-size: 2vh;
    padding-bottom: 4vh;
}

.ttd-block {
    font-size: 2vh;
    padding-bottom: 5vh;
    display: grid;
}

.ttd-header {
    font-size: 2.5vh;
}

.ttd-item {
    font-size: 1.5vh;
    margin: 0.2vh;
}

@media only screen and (orientation: landscape) {
    .reserved-txt {
        font-size: 2vh;
        padding-bottom: 5vh;
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(25vw, 1fr) );
    }

    .ttd-block {
        font-size: 2vh;
        padding-bottom: 5vh;
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(25vw, 1fr) );
    }
}


@media only screen and (orientation: portrait) {
    .reserved-item {
        padding-bottom: 2vh;
    }
}