@import './base/variables';

.App {
  text-align: center;
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  color: $primary-color;
}