@import './base/variables';

.rsvp-bgrnd {
    position: relative;
    min-height: 100vh;
    display: table;
    background-color: $primary-color;
    text-align: center;
    overflow: hidden;
}

.rsvp-msg {
    display: table-cell;
    vertical-align: middle;
    color: $dark-grey;
}

.rsvp-form {
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-size: 2.5vh;
}

.iform-frame {
    width: 600px;
    height: 600px;
    margin: 0 auto;
}

.rsvp-spacing {
    height: 5vh;
}