@import './base/variables';

.schedule-bgrnd {
    position: relative;
    min-height: 100vh;
    display: table;
    background-color: $secondary-color;
    text-align: center;
    overflow: hidden;
}

.ln-brk {
    width: 70vw;
    border-top: 3px solid $dark-grey;
    margin: auto;
}

.schedule-msg {
    display: table-cell;
    vertical-align: middle;
    padding-top: 10vw;
    padding-bottom: 10vw;
    color: $dark-grey;
    object-fit: cover;
}

.schedule-txt {
    font-size: 2.5vh;
    padding-bottom: 5vh;
}

.schedule-spacing {
    height: 10vh;
}